<div class="container">
  <mat-dialog-content class="modal-body">
    <h4>Bienvenido</h4>

    <div class="datos-personales">
      <div class="column-1">
        <p>Para la utilización de esta aplicación informática debe tenerse en consideración la Resolución de 22 de
          octubre de 2020, de la Secretaría General para la Administración Pública, por la que se aprueba el Código de
          Conducta en el uso de las Tecnologías de la Información y la Comunicación para profesionales públicos de la
          Administración de la Junta de Andalucía (BOJA núm. 208 de 27 de octubre de 2020).</p>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-content>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>
    <h4>Normativa general</h4>

    <div class="datos-laborales">
      <p>Las consultas de datos que se realicen pueden ser objeto de auditorías en las cuales, por ejemplo, se podrá
        requerir la acreditación del consentimiento expreso por parte de la persona titular de los datos y que la
        consulta se ha realizado para la finalidad y expediente que se hubieran expresado. Se considerará como uso
        irregular o indebido la consulta de datos relativa a interesados concretos cuyas solicitudes o expedientes no se
        encuentren tramitándose en los procedimientos, trámites o servicios autorizados o de aquellos sobre los que no
        conste su consentimiento expreso.</p>
    </div>
<div class="checkbox">
      <input type="checkbox">
      <span>No volver a mostrar este mensaje</span>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button class="cerrar" (click)="onClose()">CERRAR</button>
  </mat-dialog-actions>


</div>
