h4{
  color: #000;
}

mat-divider {
  border-color: #C4DDCA;
}

.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox{
  display: flex;
  gap: 10px;
}
mat-dialog-actions button {
  margin-right: 24px;
  width: 120px;
  height: 40px;
  box-shadow: none;
}



mat-dialog-actions button.cerrar {
  font-weight: bold;
  font-size: 13;
  border-radius: 5px;
  border-color: #087021;
  background-color: #087021;
  color: white;
  border: 0px;
}

mat-dialog-actions button button.cerrar:hover {
  background-color: #0B4C1A;
  transition: all 0.1s ease-in-out;
}

::ng-deep mat-dialog-actions button{
  padding: 0 !important;
}

::ng-deep mat-dialog-content {
  padding-top: 0;
}
