<footer class="">
    <div class="footer-topbar">
        <p>GECI web 1.0</p>
        
    </div>
    <div class="footer-bottom">
        <div class="images-left">
            <div>
                <img id="img-footer-1" src="https://placehold.co/84x89">
                <img id="img-footer-2" src="https://placehold.co/66x83">
                <img id="img-footer-3" src="https://placehold.co/100x100">
            </div>
        </div>
        <div class="links-right">
            <a>Accesibilidad</a>
            <a>Aviso Legal</a>
            <a>Protección de datos</a>
        </div>
    </div>
</footer>