<footer class="">
    <div class="footer-topbar">
        <p>GECI web 1.0</p>

    </div>
    <div class="footer-bottom">
        <div class="images-left">
            <div>
                <img id="img-footer-1" src="assets/images/junta.png">
                <img id="img-footer-2" src="assets/images/agenda.png">
                <img id="img-footer-3" src="assets/images/ucrania.png">
            </div>
        </div>
        <div class="links-right">
            <a>Accesibilidad</a>
            <a>Aviso Legal</a>
            <a>Protección de datos</a>
        </div>
    </div>
</footer>
