<app-header></app-header>
<div class="breadcrumb">
    <a href="#">Inicio > Gestión de solicitudes</a>
</div>
<h1>Gestión de solicitudes</h1>

<div class="page-container">
    <app-sidebar (filterChanged)="applyFilter($event)"></app-sidebar>

    <div class="content">

        <div class="search-bar">
            <!--input id-->
                <input matInput placeholder="ID de solicitud" [(ngModel)]="searchId">
            <!-- DESDEs-->
                <mat-datepicker-toggle matSuffix [for]="picker1" matTooltip="Abrir calendario">
                <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                </mat-datepicker-toggle>
                <input placeholder="Desde" matInput [matDatepicker]="picker1" [(ngModel)]="startDate">

                <mat-datepicker #picker1></mat-datepicker>

            <!-- HAsta-->
                <mat-datepicker-toggle matSuffix [for]="picker2" matTooltip="Abrir calendario">
                <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                </mat-datepicker-toggle>

                <input  placeholder="Hasta"  matInput [matDatepicker]="picker2" [(ngModel)]="endDate">
                <mat-datepicker #picker2></mat-datepicker>

                <!--iconos de busqueda y recarga-->
              <button mat-icon-button (click)="applySearch()" matTooltip="Buscar">
                <mat-icon >search</mat-icon>
              </button>

              <button mat-icon-button  (click)="refreshSearch()" matTooltip="Recargar">
                <mat-icon>refresh</mat-icon>
              </button>

          </div>

      <mat-table [dataSource]="dataSource" >
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID de Solicitud </mat-header-cell>
          <mat-cell *matCellDef="let solicitud"> {{solicitud.id}} </mat-cell>
        </ng-container>

        <!-- Fecha -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let solicitud"> {{solicitud.date}} </mat-cell>
        </ng-container>

        <!-- Estado -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
          <mat-cell *matCellDef="let solicitud">
            <span [class]="getStatusClass(solicitud.status)">
              {{solicitud.status}}
            </span>
          </mat-cell>
        </ng-container>

        <!-- Comentario -->
        <ng-container matColumnDef="comment">
            <mat-header-cell *matHeaderCellDef> Comentario </mat-header-cell>
            <mat-cell *matCellDef="let solicitud">
                <input matInput
                [(ngModel)]="solicitud.comment"
                placeholder="Añadir comentario"
                (submit)="saveComment(solicitud)">
            </mat-cell>
          </ng-container>

        <!-- Acciones -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let solicitud">
            <a mat-icon-button href="/gestion-de-solicitudes/detalles" matTooltip="Ver detalles">
              <mat-icon>visibility</mat-icon>
            </a>
            <a mat-icon-button matTooltip="Editar comentario">
              <mat-icon onclick="saveComment(solicitud)">edit</mat-icon>
            </a>
            <a mat-icon-button matTooltip="Archivar">
                <mat-icon>archive</mat-icon>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>

<app-footer></app-footer>
