<div class="sidebar">
    <div class="margin">
      <button class="add"><i class="fa-solid fa-plus"></i> <strong>SOLICITUD</strong></button>
      <p>Solicitudes</p>
      <div class="buttons">
        <mat-nav-list>
          <div 
            *ngFor="let filter of filters" 
            mat-list-item 
            [class.active]="activeFilter === filter.value"
            (click)="setFilter(filter.value)"
            class="filter-button">
            <span class="filter-name">{{filter.name}}</span>
            <span class="filter-count">({{filter.count}})</span>
          </div>
        </mat-nav-list>
      </div>
    </div>
  </div>