.header{
  border-bottom: 1px solid #EEEEEE;
}

.header-topbar {
  height: 30px;
  background-color: #333333;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 70px;
  gap: 15px;
}

.header-topbar p {
  margin: 0;
  cursor: pointer;
}


.header-card{
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
}

.header-content{
  display: flex;
  align-items: center;
}

.image{
  height: 60px;
  width: 65px;
  margin: 15px 10px 15px 60px
}

.text-content .title{
  font-size: 15px;
  color: #087021;
  margin: 0;
}

.text-content .subtitle{
  margin: 0;
  font-weight: bold;
  font-size: 14px;;
  color: #000000;
}


