/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Noto Sans HK", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; }

html, body { height: 100%; }
body { margin: 0; font-family: "Noto Sans HK", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; }

.custom-modal-wrapper {
  width: 880px !important;
  max-width: none !important;
}
  *:focus-visible{
    outline: none;
  box-shadow: 0 0 0 3px blue;
  border-radius: 4px;
  }
