<div class="container">
  <mat-dialog-content class="modal-body">
    <h4>Diálogo de seguridad</h4>
    <mat-divider></mat-divider>

    <div class="top-section">
      <form class="form">
        <p>Usuario</p>
        <div class="input-group">
          <input type="text" />
        </div>
        <p>Contraseña</p>
          <div class="input-group">
            <input type="text" />
          </div>
        </form>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button class="login">Iniciar Sesión</button>
  </mat-dialog-actions>
</div>
