<app-header></app-header>
<div class="body">

  <div class="breadcrumb">
    <a href="#">Inicio > Gestión de solicitudes > Detalles</a>
  </div>

  <h1 class="title">Detalle de la Solicitud ID: 210</h1>

  @if (dataSource.length == 0) {
    <mat-spinner></mat-spinner>
  }@else {

  <div class="table">

    <mat-table [dataSource]="dataSource" class="full-width-table ">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID Petición </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="document">
        <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.document}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="csv">
        <mat-header-cell *matHeaderCellDef> CSV </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.csv}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="error">
        <mat-header-cell *matHeaderCellDef class="error-column"> Error </mat-header-cell>
        <mat-cell *matCellDef="let element" class="error-column">
          <span class="error-text">{{ element.error }}</span>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="actions-column"> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element" class="actions-column" [ngClass]="{ 'disabled-actions': element.error }">
          <a *ngIf="!element.error" href="" title="Copiar CSV"><mat-icon>content_copy</mat-icon></a>
          <a *ngIf="!element.error" href="" title="Ver HCV"><mat-icon>visibility</mat-icon></a>

          <mat-icon *ngIf="element.error" class="disabled-icon">content_copy</mat-icon>
          <mat-icon *ngIf="element.error" class="disabled-icon">visibility</mat-icon>
        </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="volver-btn" >
      <button mat-raised-button color="primary" class="volver" [routerLink]="['/gestion-de-solicitudes']" >VOLVER</button>
    </div>

  </div>
}
</div>
<app-footer></app-footer>
