<div class="body">


  <div class="breadcrumb">
    <a href="#">Inicio > Gestión de solicitudes > Detalles</a>
  </div>

  <h1 class="title">Detalle de la Solicitud ID:</h1>

  <div class="table">

    <mat-table [dataSource]="dataSource" class="full-width-table ">

      <!-- ID Petición -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID Petición </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <!-- Documento -->
      <ng-container matColumnDef="document">
        <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.document}} </mat-cell>
      </ng-container>

      <!-- CSV -->
      <ng-container matColumnDef="csv">
        <mat-header-cell *matHeaderCellDef> CSV </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.csv}} </mat-cell>
      </ng-container>

      <!-- Error -->
      <ng-container matColumnDef="error">
        <mat-header-cell *matHeaderCellDef class="error-column"> Error </mat-header-cell>
        <mat-cell *matCellDef="let element" class="error-column">
          <span class="error-text">{{ element.error }}</span>
        </mat-cell>
      </ng-container>


      <!-- Acciones -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="actions-column"> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element" class="actions-column">
          <mat-icon>content_copy</mat-icon>
          <mat-icon>visibility</mat-icon>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="volver-btn">
      <button mat-raised-button color="primary" class="volver">VOLVER</button>
    </div>

  </div>
</div>
