<div class="header">
  <div class="header-topbar">
    <p>Contacto</p>
    <p>Mapa web</p>
  </div>

  <div class="header-content">
    <img src="assets/images/logo.png" alt="Logo Junta Andalucia" class="logo">
    <div class="text-content">
      <p class="title">GECI Web</p>
      <p class="subtitle">Junta de Andalucía</p>
    </div>


  </div>
</div>
<mat-card class="user-card">
      <div class="user-icon">
        <mat-icon>person</mat-icon>
      </div>
      <div class="user-name">ANTONIO GARCÍA GARCÍA</div>
      <div class="user-title">Consejería de Empleo, Formación <br> y Trabajo Autónomo</div>
    </mat-card>
